extends layout

block content
  div(class="w3-container w3-margin")
    ul(class="w3-card w3-ul")
        li(class="w3-indigo w3-large") 
            b Título:  
            span= musica.tit
        li
            b Província: 
            a(href='http://localhost:3022/musicas/prov/'+ musica.prov)= musica.prov
        
        if typeof(musica.local) !== 'undefined'
            li
                b Local: 
                span= musica.local

        if typeof(musica.musico) !== 'undefined'
            li
                b Músico: 
                span= musica.musico
        
        if typeof(musica.inst) !== 'undefined'
            li
                b Instrumentos: 
                span= musica.inst        

        if typeof(musica.inst) !== 'undefined'
            li
                b Ficheiro: 
                a(href='')= musica.file
        
        if typeof(musica.inst) !== 'undefined'
            li
                b Tipo de ficheiro: 
                span= musica.fileType
                
        if typeof(musica.inst) !== 'undefined'
            li
                b Duração: 
                span= musica.duracao

        if typeof(musica.obs) !== 'undefined'
            li
                b Observações: 
                span= musica.obs
        
        if typeof(musica.obsFiles) !== 'undefined'
            li
                b Observações ficheiros: 
                ul
                    each f in musica.obsFiles
                        li(class='w3-small')
                            p
                                b Ficheiro: 
                                span= f.file
                            p
                                b Tipo: 
                                span= f.fileType

    div(class="w3-card w3-panel w3-border w3-indigo",style="width:10%")        
        p
            a(href='http://localhost:3022/musicas') Voltar
