extends layout

block content
  div(class="w3-container w3-margin")
    ul(class="w3-card w3-ul w3-hoverable")
        li(class="w3-indigo w3-large") 
            b Província:  
            span= provincia

        each m in musicas 
            li 
                p
                    b Título: 
                    if typeof(m.tit) !== 'undefined' 
                        if m.tit !== '-'
                            a(href="http://localhost:3022/musicas/"+ m.id)= m.tit
                        else 
                            li= "-----"
                    else 
                        li= "-----"
                    
                p
                    b Ficheiro: 
                    span= m.file

    div(class="w3-card w3-panel w3-border w3-indigo",style="width:10%")        
        p
            a(href='http://localhost:3022/musicas') Voltar

